.SearchBar {
    max-width: 800px;
    width: 100%;
}

.SearchBar :global(input) {
    width: calc(100% - 3rem);
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 30px;
    border: none;
    outline: none;
    transition: 1s ease;
}

.SearchBar :global(input):hover {
    box-shadow: 0 0 10px 3px rgba(19, 81, 195, 0.9);
}