.Item {
    max-width: 450px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    transition: 1s ease;
}

.Item :global(h2) {
    margin: 0.5rem;
}

.Item :global(p) {
    margin: 0.5rem;
    cursor: text;
}

.Item :global(img) {
    margin: 0 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
    object-position: top center;
    max-height: 220px;
}

.Item:hover {
    box-shadow: 0 0 20px 3px rgba(19, 81, 195, 0.4);
}

.Item :global(textarea) {
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0.5rem;
    resize: none;
}

.Item :global(.for-h2) {
    font-size: 1.5rem;
    font-weight: bold;
}

.Item :global(button) {
    width: 200px;
    padding: 0.6rem;
    margin: 0.5rem auto;
    background-color: #125aff;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
}
